rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Must match the UIDs in firestore.rules
    function isAuthorized() {
      return request.auth != null && request.auth.uid in [
        'JOPK1T2MkaS2BVbyS2huPzXpPWk1', // owner
        // 'PASTE_KEANU_UID_HERE',
      ];
    }

    match /{allPaths=**} {
      allow read, write: if isAuthorized();
    }
  }
}
